html,body{
  height: 100%;
}

.container{
  padding-top: 80px;
  padding-bottom: 40px;
}

.nav-tabs >a{
  color: black;
  font-weight: bold;
}


.table-hover{
  color: black;
  overflow-x: auto;
}

.input-group{
  margin-top: 0.5rem;
}

.table-hover{
  margin-top: 0.5rem;
}



footer{
  text-align: center;
  height: 40px;
  box-sizing: border-box;

  position: absolute;
  bottom: 0;

  width: 100%;
}
