.container{
  margin-top: 20px;
}

.jumbotron {
  background-color: white !important;
}

.about p {
  text-align: center;
  padding: 20px;
}

img {
  margin: auto;
  
}

.profileimg{
  height: auto;
  max-width: 60%;
}

.bg-dark {
  background-color: #607D8B !important;
}

.row {
  margin-left: 10px;
}

h2 {
  margin: 20px;
  margin-top:30px;
  font-size: 50px;
  text-align: center;
  color: #607D8B;
}

p{
  font-size: 20px;
}

span{
  font-family: 'Pacifico', cursive;
}

p{
  color:#757575
}

h3{
  font-size: 30px;
  color:#757575
}