.bg-light{
    background-color: #FF5A5F!important;
}
.navbar-nav{
    flex-direction: row;
}
nav a{
  color: white;
}
#button{
    position: absolute;
    padding: 14px 24px;
    border-radius: 0px;

}
.btn-lg{
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    color: white;
}

.btn-lg:hover{
    background-color: rgba(255, 90, 96, 0.77);
    border-color: rgba(255, 90, 96, 0.77);
}
.jumbotron {
    background-color: rgba(203, 203, 203, 0.49)!important;
    margin-top: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    justify-content: center;
}
input {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
