.mytext {
  height: 50px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: .3rem;
  box-sizing: border-box;
  color:#bcbcbc;
  width:80%
}

	

.edit {
    background-color: rgba(173, 173, 173, 0.466)!important;
    margin-top: 6rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
}

.edit h1{
    clear:both;
	text-align: center;
	font-size: 40px;
	padding-top:10px;
	color:#607D8B;
}

.btn, btn-lg{
	background-color: #455A64;
	border-color: #455A64;
	color: white;
}

p{
	font-size: 130%;
}
