.confirmcontainter{
    margin-top: 20px; 
    padding-top: 50px;
    margin-left: 20px;
}

.btn, btn-info, btn-lg{
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

.passwordcomplete {
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 20px;
}

.center {
    margin-top: 5%;
    padding-left: 2%;
}

.center p {
  margin-top: 30%;
  padding-left: 2%;
}

.done p {
    margin-top: 10%;
    padding-left: 2%;
}

