{% extends "base_generic.html" %}
{% block title %}<title>UService - About</title>{% endblock %}
{% load static %}
{% block style%}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}
{% block content %}
    <body>
        <div class='jumbotron'>
            <div class='about'>
                <h2>About</h2>
                <hr>
                <p>UService allows you to request and offer any services whenever, wherever you are.</p>
                <hr>
            </div>
            <div class="profile-list-wrapper">
								<h2>The Team</h2>
                     <div class="row" >
                       <div class="col-4">
                         <img src="{% static 'image/blankprofile.png' %}" >
                         <h3>Tim Liew</h3>
                       </div>
                        <div class="col-4">
                          <img src="{% static 'image/blankprofile.png' %}" >
													<h3>Jeff Zhao</h3>
                        </div>
                        <div class="col-4">
                          <img src="{% static 'image/blankprofile.png' %}" >
													<h3>Brandon Lam</h3>
                        </div>
                        <div class="col-4">
                          <img src="{% static 'image/blankprofile.png' %}" >
													<h3>Ka Yu Li</h3>
                        </div>
                        <div class="col-4">
                          <img src="{% static 'image/blankprofile.png' %}" >
													<h3>Weihai Chen</h3>
                        </div>
                        <div class="col-4">
                          <img src="{% static 'image/blankprofile.png' %}" >
													<h3>Xinyong Qiu</h3>
                        </div>
											</div>

              </div>
        </div>
    </body>
{% endblock %}