{% extends "base_generic.html" %}
{% block title %}<title>UService - AddOffer</title>{% endblock %}
{% load static %}
{% block style%}<link rel="stylesheet" href="{% static 'css/add.css' %}">{% endblock %}
{% block content %}
    <body>
        <div class='container'>
            
        <div class='jumbotron'>
                <div class='page-header'>
                        <h1>Create an Offer</h1>
                </div>

                <div class='row'>
                    <div id=type class='col-lg-8 col-md-8 col-sm-10 col-xs-12'>
                        <h4>Type</h4>
                        <button type='button' class='btn btn-default'>Tutor</button>
                        <button type='button' class='btn btn-default'> Book Selling</button>
                        <button type='button' class='btn btn-default'> Carpool</button>
                        <button type='button' class='btn btn-default'> Activities & Sports</button>
                    </div>

                    <div id=name class='col-lg-8 col-md-8 col-sm-10 col-xs-12'>
                        <h4>Request Name</h4>
                        <form>
                            <label for="name"></label>
                            <input type="name" class="form-control" placeholder='Enter request name' id='name'>
                        </form>
                    </div>

                    <div id=details class='col-lg-8 col-md-8 col-sm-10 col-xs-12'>
                        <h4>Details</h4>
                        <form>
                                <label for="Date"></label>
                                <input type="date" class="form-control" placeholder='Enter request name' id='date'>
                        </form>
                        <form>
                                <label for="Time"></label>
                                <input type="time" class="form-control" placeholder='12:00 AM' id='time'>
                        </form>
                        <form>
                                <label for="Cost"></label>
                                <input type="cost" class="form-control" placeholder='Enter cost' id='cost'>
                        </form>

                        <form>
                                <label for="Describe"></label>
                                <input type="describe" class="form-control" placeholder='Enter description' id='descripition'>
                        </form>

                    </div>
                </div>

            <div class=wrapper>
                    <button id='button' type='button' class='btn btn-lg btn-primary'> Create</button>
                </div>


        </div>
    </body>
{% endblock %}