{% extends "base_generic.html" %}
{% block title %}<title>UService - Edit</title>{% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}
{% block content %}
      <body>
      <div class="jumbotron">
        <img class="img" src="{% static 'image/logo.png' %}">
        <h1>&nbsp; &nbsp;Modify your Request!</h1>
        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Use this page to edit your offer or request! </p>
    </div>
    <div>
      <button type="button" class="buttons">Tutor</button>
      <button type="button" class="buttons">Book Selling</button>
      <button type="button" class="buttons" id="focusme">Carpool</button>
      <button type="button" class="buttons">Activities</button>
    </div>
    <forms>
        <form action="OfferServiceDetail.html" method="post">
        <br><p>Change your Request Title:</p>
        <input type="text" name="title" value="Carpool to Boston" class="mytext"><br>
        <p>Change your Date:</p>
        <input type="text" name="date" value="11/9/2017" class="mytext"><br>
        <p>Change your Cost:</p>
        <input type="text" name="cost" value="$50" class="mytext"><br>
        <p>Change your Description:</p>
        <textarea name="message" name="description" rows="20" class="mytext">2 extra slots in my Toyota Rav4, room for 2 small suitcases</textarea>
        <br>
        <p>Click this to finalize your changes.</p>
        <input type="submit" class= "submitbutton" value="Save your Changes!">
        </form>
      <forms>

  </div>


  <script src="js/edit.js"></script>
  </body>
{% endblock %}
