{% extends "base_generic.html" %}
{% block title %}<title>UService - Home</title>{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
  <!-- <body> -->
  	<h1>Summary</h1>
  	<div class="wrapper">
  		<button type="button" class="btn btn-info btn-lg" id="myBtn"><a id="offerBtn" href="{% url 'searchrequest' %}">I want to offer</a></button>
  		<button type="button" class="btn btn-info btn-lg" id="myBtn"><a id="requestBtn" href="{% url 'searchoffer' %}">I want to request</a></button>
  	</div>
  	<h1 class="table-heading">Ending Soon</h1>
    <table class='table table-borderless'>

      <thead>
        <tr>
          <th colspan="2" scope="col">Offer</th>
          <th colspan="2" scope="col">Request</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
          Creator: {{tName}}<br />
          Type: {{tType}}<br />
          Book Title: {{tTitle}}<br />
          Author: {{tAuthor}}<br/>
          Cost: {{tCost}}<br />
          Offer Ends: {{tDate}}<br />
          </td></a>

          <td>
          Creator: {{cName}}<br />
          Type: {{cType}}<br />
          Destination: {{cDestin}}<br />
          Cost:{{cCost}}<br />
          Date: {{cDate}}<br />
          </td>

          <td>
          Name: Arya Stark<br />
          Type: Tutor<br />
          Subject: Swordplay<br />
          Cost: $25.00 per hour<br />
          Date: 10/4/2017 @ 7:00pm<br />
          </td>

          <td>
          Name: Robert Baratheon<br />
          Type: Activities & Sports<br />
          Activity: Hunting<br />
          Cost: $50.00<br />
          Date: 10/5/2017 @ 10:00am<br />
          </td>
        </tr>
      </tbody>

    </table>
  <!-- </body> -->
{% endblock %}
