{% extends "base_generic.html" %}
{% block title %}<title>Offer Details</title>{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="offerRequestDetails">
        <div class="container">
          <h1 class="text-left">Service Offered:</h1>
          <div class="btn-group btn-group-lg" role="group">
            <button type="button" class="btn btn-default">Tutor </button>
            <button type="button" class="btn btn-default">Carpool </button>
            <button type="button" class="btn btn-default">Activity </button>
            <button type="button" class="btn btn-default">Book Sell</button>
          </div>
          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd></dd>
          <dt>Start Date:</dt>
          <dd></dd>
          <dt>End Date:</dt>
          <dd></dd>
          <dt>price:</dt>
          <dd></dd>
          <dt>Description:</dt>
          <dd></dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg">Contact</button>
        </div>


        <p></p>
        <div class="text-center">
        <button type="button" class="btn btn-lg">Review</button>
      </div>
      </div>
    </div>
    <div class="jumbotron">
      <input id="input" type="text">
      <div class="text-right">
      <button type="submit" class="btn btn-lg">Submit Comment</button>
    </div>
  </div>
  </div>
</div>

{% endblock %}
