{% extends "base_generic.html" %}
{% block title %}<title>UService - AddOffer</title>{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <!-- <body> -->
      <div class='container'>

        <div class='jumbotron'>
          <div class="row">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic"
                        src="{% static 'image/blankprofile.png' %}" class="img-circle img-responsive">
                      </div>
                      <div class=" col-md-12 col-lg-12" align="center">
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Name</td>
                              <td>John Doe</td>
                            </tr>
                            <tr>
                              <td>Gender</td>
                              <td>Male</td>
                            </tr>
                            <tr>
                              <td>Major</td>
                              <td>Computer Science</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td><a href="mailto:john_doe@umass.edu">john_doe@umass.edu</a></td>
                            </tr>
                            <tr>
                              <td>Phone Number</td>
                              <td>123-4567-890 (Home)</td>
                              <br>
                              <td>555-4567-890 (Mobile)</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right">
                <button type="button" class="btn btn-lg">Edit</button>
              </div>
              </div>
            </div>

        </div>
    <!-- </body> -->
{% endblock %}
