{% extends "base_generic.html" %}
{% block title %}<title>UService - Search Offer</title>{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}


      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3">
              <h4>Filter</h4>
              <h5>Price</h5>
              <div class="btn-group btn-group-sm" role="group" aria-label="price">
                <button type="button" class="btn btn-outline-danger"><50</button>
                <button type="button" class="btn btn-outline-danger">50-100</button>
                <button type="button" class="btn btn-outline-danger">>100</button>
              </div>

          </div>
          <div class="col-lg-8 col-md-6">
            <nav class="nav nav-tabs" id="myTab" role="tablist">
              <a class="nav-item nav-link active" id="nav-book-tab" data-toggle="tab" href="#nav-book" role="tab" aria-controls="nav-home" aria-expanded="true">Book</a>
              <a class="nav-item nav-link" id="nav-carpool-tab" data-toggle="tab" href="#nav-carpool" role="tab" aria-controls="nav-carpool">Carpool</a>
              <a class="nav-item nav-link" id="nav-tutorial-tab" data-toggle="tab" href="#nav-tutorial" role="tab" aria-controls="nav-tutorial">Tutorial</a>
              <a class="nav-item nav-link" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-activity">Activity</a>

           </nav>

            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-book" role="tabpanel" aria-labelledby="nav-book-tab">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter the name of book" aria-describedby="book">
                  <span class="input-group-addon" id="book">Search</span>
                </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Condition</th>
                        <th>Cost</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><a id='clickable' href = "{% url 'offerservicedetail' %}">Web programming</a></td>
                        <td><a id='clickable' href = "{% url 'offerservicedetail' %}">Computer Science</a></td>
                        <td><a id='clickable' href = "{% url 'offerservicedetail' %}">new</a></td>
                        <td><a id='clickable' href = "{% url 'offerservicedetail' %}">100</a></td>
                        <td><a id='clickable' href = "{% url 'offerservicedetail' %}">2017/10/1</a></td>
                      </tr>

                    </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="nav-carpool" role="tabpanel" aria-labelledby="nav-carpool-tab">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter the departure/destination" aria-describedby="carpool">
                  <span class="input-group-addon" id="carpool">Search</span>
                </div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Creator</th>
                        <th>Destination</th>
                        <th>Cost</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for carpool in carpools %}
                        <tr>
                          <td><a> {{ carpool.title }}</a> </td>
                        <td><a> {{ carpool.creator }}</a> </td>
                        <td><a> {{ carpool.destination }}</a> </td>
                        <td><a> {{ carpool.cost }}</a> </td>
                        <td><a> {{ carpool.date }}</a> </td>
                        </tr>
                        

                      {% endfor %}

                    </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="nav-tutorial" role="tabpanel" aria-labelledby="nav-tutorial-tab">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter the name of subject" aria-describedby="tutorial">
                  <span class="input-group-addon" id="tutorial">Search</span>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Subject</th>
                      <th>degree</th>
                      <th>cost</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">Computer Science</a></td>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">Freshman</a></td>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">100/h</a></td>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">2017/10/1</a></td>
                    </tr>

                  </tbody>
              </table>
                </div>
              <div class="tab-pane fade" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter the name of activity" aria-describedby="activity">
                  <span class="input-group-addon" id="activity">Search</span>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Place</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">basketball</a></td>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">gym</a></td>
                      <td><a id='clickable' href = "{% url 'offerservicedetail' %}">2017/10/1</a></td>
                    </tr>

                  </tbody>
              </table>
                </div>

            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="alert alert-secondary" role="alert">
              Can't find what you want?
            </div>
            <button  type="button" class="btn btn-secondary" name="button"><a href="{% url 'addrequest' %}">Create your request</a></button>
          </div>
        </div>

      </div>









{% endblock %}
