{% extends "base_generic.html" %}
{% block title %}Add Request{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}
{% block js %}
{% load static %}
<script src="{% static 'js/add.js' %}"></script>
{% endblock %}
{% block content %}
      <div class='container'>
        <div class='addOfferRequest'>
                <div class='page-header'>
                        <h1>Create a Request</h1>
                </div>

                <div class='row'>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                          {{ form.as_table }}
                        </table>
                        <input id="new" class="btn btn-lg" type="submit" value="Submit" />
                      </form>
                    </div>
{% endblock %}