{% extends "base_generic.html" %}
{% block title %}Edit{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<!-- <body> -->

      <div class="container">
        <div class='edit'>
          <div class='page-header'>
            <h1>Modify the details</h1>
          </div>
        
        <form action="" method="post">
           {%ifequal form.instance.creator user%}
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input class="btn btn-lg" type="submit" value="Submit" />
        {%else%}
        <div>
        <h1>You can not modify this service since you are not the creator</h1>
      </div>
        {%endifequal%}

    </form>
  </div>
    </div>
  </div>

  {% else %}
      <div class="center">
      <h1>Please login to see this page.</h1>
    </div>
      {% endif %}

<!-- </body> -->
{% endblock %}
