{% extends "base_generic.html" %}
{% block title %}My Publish{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mypublish.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Requests/Offers you published</h2>

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div id="book" class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Book</h2>
    </div>
    {% if books %}
    <ul></ul>
    {% for book in books %}
    <div class="mdl-card__supporting-text">
      <li><a href="{{ book.get_absolute_url }}" style="color:black;">{{ book.title }}</a></li>
    </div>
    {% endfor %}
    </ul>
    {% else %}
    <div class="mdl-card__supporting-text">
      <p>no book</p>
    </div>
    {% endif %}
  </div>


  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div id="carpool" class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Carpool</h2>
    </div>
    {% if carpools %}
    <ul></ul>
    {% for carpool in carpools %}
    <div class="mdl-card__supporting-text">
      <li><a href="{{ carpool.get_absolute_url }}" style="color:black;">{{ carpool.title }}</a></li>
    </div>
    {% endfor %}
    </ul>
    {% else %}
    <div class="mdl-card__supporting-text">
      <p>no carpool</p>
    </div>
    {% endif %}
  </div>

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div id="tutor" class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Tutor</h2>
    </div>
    {% if tutors %}
    <ul></ul>
    {% for tutor in tutors %}
    <div class="mdl-card__supporting-text">
      <li><a href="{{ tutor.get_absolute_url }}" style="color:black;">{{ tutor.title }}</a></li>
    </div>
    {% endfor %}
    </ul>
    {% else %}
    <div class="mdl-card__supporting-text">
      <p>no tutor</p>
    </div>
    {% endif %}
  </div>



  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div id="activity" class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Activity</h2>
    </div>
    {% if activitys %}
    <ul></ul>
    {% for activity in activitys %}
    <div class="mdl-card__supporting-text">
      <li><a href="{{ activity.get_absolute_url }}" style="color:black;">{{ activity.title }}</a></li>
    </div>
    {% endfor %}
    </ul>
    {% else %}
    <div class="mdl-card__supporting-text">
      <p>no activity</p>
    </div>
    {% endif %}
  </div>




{% endblock %}

</div> 
  
