{% extends "base_generic.html" %}
{% block title %}Profile{% endblock %}
{% block extra_head %}
{% load static %}
{% endblock %}
{% block content %}
    <!-- <body> -->
      <div class='container'>
        {% if user.is_authenticated %}
        <div class='jumbotron'>
          <div class="row">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic"
                        src="{% static 'image/blankprofile.png' %}" class="img-circle img-responsive">
                      </div>
                      <div class=" col-md-12 col-lg-12" align="center">
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td>Username</td>
                              {%ifequal profile.user.get_username user.get_username%}
                              <td>{{user.get_username}}</td>
                              {%else%}
                              <td>{{ profile.user.get_username }}</td>
                              {%endifequal%}
                            </tr>

                            <tr>
                              <td>Name</td>
                              {%ifequal profile.user.first_name ''%}
                              <td>{{ user.first_name }}, {{ user.last_name }}</td>
                              {%else%}
                              <td>{{ profile.user.first_name }}, {{ profile.user.last_name }}</td>
                              {%endifequal%}
                            </tr>

                            <tr>
                              <td>Email</td>
                              {%ifequal profile.user.email ''%}

                              <td>{{ user.email }}</td>
                              {%else%}
                              <td>{{ profile.user.email }}</td>
                              {%endifequal%}
                            </tr>
                            <tr>
                              <td>Phone Number</td>
                              <td>{{profile.phone_number}}</td>
                            </tr>
                            <tr>
                              <td>Bio</td>
                              <td>{{profile.bio}}</td>
                            </tr>



                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="float-right">
                  {%ifequal user profile.user%}

                <button type="button" class="btn btn-lg"><a href='{% url 'profile_Edit' pk=user.pk%}'>Edit</a></button>
                  {%endifequal%}
              </div>
              
                {%endif%}

              </div>


    <!-- </body> -->
{% endblock %}
