{% extends "base_generic.html" %}
{% block title %}Search Offer{% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}


      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-3">
              <h4>Filter</h4>
              <h5>Price</h5>
              <div class="btn-group btn-group-sm" role="group" aria-label="price">
                <button type="button" class="btn btn-outline-danger"><50</button>
                <button type="button" class="btn btn-outline-danger">50-100</button>
                <button type="button" class="btn btn-outline-danger">>100</button>
              </div>

          </div>
          <div class="col-lg-8 col-md-6">




                <form class="input-group" type='GET' action=''>
                  <select id="modelfields" name="modelfields">
                   <option value="Textbook_Trading"  {%ifequal request.GET.modelfields "Textbook_Trading" %}selected="selected"{%endifequal%}>Textbook_Trading</option>
                   <option value="Carpool"{%ifequal request.GET.modelfields "Carpool" %}selected="selected"{%endifequal%}>Carpool</option>
                   <option value="Tutor"{%ifequal request.GET.modelfields "Tutor" %}selected="selected"{%endifequal%}>Tutor</option>
                   <option value="Activity"{%ifequal request.GET.modelfields "Activity" %}selected="selected"{%endifequal%}>Activity</option>

                  </select>
                   <input type="text" class="form-control" placeholder="Enter the name of title" aria-describedby="book" name="q">
                  <button type="submit" class="input-group-addon" id="book">Search</button>
                </form>
                {%if request.GET.modelfields == "Textbook_Trading" %}
                   <table class="table table-hover">
                      <thead>
                        <tr>

                          <th>Title</th>
                          <th>Author</th>
                          <th>Creator</th>
                          <th>Cost</th>
                          <th>Date</th>
                          <th>Detail</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for book in offerlist %}
                          <tr>

                            <td><a>{{ book.title }}</a></td>
                            <td><a>{{ book.author }}</a></td>
                            <td><a>{{ book.creator}}</a></td>
                            <td><a>{{ book.cost }}</a></td>
                            <td><a>{{ book.date}}</a></td>
                            <td><a class="badge badge-primary"  href="{{ book.get_absolute_url }}">click</a>
                              {%ifequal user book.creator%}
                              <a class="badge badge-primary"  href="{{ book.edit_url }}">edit</a></td>
                              {%endifequal%}
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>

                {%elif request.GET.modelfields == "Carpool" %}
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Creator</th>
                          <th>Destination</th>
                          <th>Cost</th>
                          <th>Date</th>
                          <th>Detail</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for carpool in offerlist %}
                          <tr>
                            <td><a>{{ carpool.title }}</a> </td>
                          <td><a>{{ carpool.creator }}</a> </td>
                          <td><a>{{ carpool.destination }}</a> </td>
                          <td><a>{{ carpool.cost }}</a> </td>
                          <td><a>{{ carpool.date }}</a> </td>
                          <td><a class="badge badge-primary"  href="{{ carpool.get_absolute_url }}">click</a>
                            {%ifequal user carpool.creator%}
                            <a class="badge badge-primary"  href="{{ carpool.edit_url }}">edit</a></td>
                            {%endifequal%}
                          </tr>


                        {% endfor %}

                      </tbody>
                  </table>

                {%elif request.GET.modelfields == "Tutor" %}
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Subject</th>
                        <th>Creator</th>
                        <th>Cost</th>
                        <th>Date</th>
                        <th>Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for tutor in offerlist %}
                        <tr>
                          <td><a>{{ tutor.title }}</a></td>
                          <td><a>{{ tutor.subject }}</a></td>
                          <td><a>{{ tutor.creator }}</a></td>
                          <td><a>{{ tutor.cost }}</a></td>
                          <td><a>{{ tutor.date }}</a></td>
                          <td><a class="badge badge-primary"  href="{{ tutor.get_absolute_url }}">click</a>
                            {%ifequal user tutor.creator%}
                            <a class="badge badge-primary"  href="{{ tutor.edit_url }}">edit</a></td>
                            {%endifequal%}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {%elif request.GET.modelfields == "Activity" %}
                  <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Creator</th>
                          <th>Activity</th>
                          <th>Date</th>
                          <th>Detail</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for activity in offerlist %}
                          <tr>
                            <td><a>{{ activity.title }}</a></td>
                            <td><a>{{ activity.creator}}</a></td>
                            <td><a>{{ activity.activity }}</a></td>
                            <td><a>{{ activity.date }}</a></td>
                            <td><a class="badge badge-primary"  href="{{ activity.get_absolute_url }}">click</a>
                              {%ifequal user activity.creator%}
                              <a class="badge badge-primary"  href="{{ activity.edit_url }}">edit</a></td>
                              {%endifequal%}

                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                {%else%}
                <table class="table table-hover">
                   <thead>
                     <tr>

                       <th>Title</th>
                       <th>Author</th>
                       <th>Creator</th>
                       <th>Cost</th>
                       <th>Date</th>
                       <th>Detail</th>
                     </tr>
                   </thead>
                   <tbody>
                     {% for book in offerlist %}
                       <tr>

                         <td><a>{{ book.title }}</a></td>
                         <td><a>{{ book.author }}</a></td>
                         <td><a>{{ book.creator}}</a></td>
                         <td><a>{{ book.cost }}</a></td>
                         <td><a>{{ book.date}}</a></td>
                         <td><a class="badge badge-primary"  href="{{ book.get_absolute_url }}">click</a>
                           {%ifequal user book.creator%}
                           <a class="badge badge-primary"  href="{{ book.edit_url }}">edit</a></td>
                           {%endifequal%}
                       </tr>
                     {% endfor %}
                   </tbody>
               </table>
              {%endif%}
              </div>



          <div class="col-lg-2 col-md-3">
            <div class="alert alert-secondary" role="alert">
              Can't find what you want?
            </div>
            <button  type="button" class="btn btn-secondary" name="button"><a href="{% url 'addrequest' %}">Create your request</a></button>
          </div>
        </div>

      </div>









{% endblock %}
