{% extends "base_generic.html" %}
{% block title %}Edit{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}
{% block content %}
<!-- <body> -->
      <div class="jumbotron">
        <img class="img" src="{% static 'image/logo.png' %}">
        <h1>&nbsp; &nbsp;Modify your Request!</h1>
        <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Use this page to edit your offer or request! </p>
         <form action="" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit" />
    </form>
    </div>
  </div>


<!-- </body> -->
{% endblock %}
