.mytext {
  height: 50px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  border-radius: .3rem;
  box-sizing: border-box;
  color:#bcbcbc;
  width:80% 
}
.mytext:focus, .mytext:hover,.mytext:active{
	color:#000000;
	border-color:#FF5A5F;
	outline: none;
}
.mytext .textarea{
 width:800px;
}
.buttons{
	color: #FFFFFF;
	width: 200px;
	height:60px;
	background-color: #ADD8E6;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: .3rem;
    box-shadow: 0 6px #27496d;

}
.buttons:active,.buttons:focus{
	background-color:#0d98ba;
	outline:none;
	box-shadow: 0 3px #27496d;
}
h1{
	color: #000000;	
	font-weight: bold;
	font-size:300%;
}
.submitbutton{
	background-color: #FF5A5F;
    border-color: #FFFFFF;
    color:#FFFFFF;
    width: 200px;
	height:50px;
	border-radius: .3rem;
	outline: none;
}
p{
	font-size: 130%;
}
.img{
	float:left;
	height: 100px;
	width: 100px;
	clear: both;
	display: inline;
	position: relative;
}
