{% extends "base_generic.html" %}
{% block title %}Login{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class='center'>
  {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
</div>


<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="center">
  <label for="id_username">Username</label>
  <input type="text" class="form-control" name="username" autofocus="" maxlength="254" required="" id="id_username">
</div>
<div class="center">
  <label for="id_password">Password</label>
  <input size="20" type="password" class="form-control"name="password" required="" id="id_password">
</div>

<div class="center">
  <input type="submit" class="btn btn-default" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="center">
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}
