{% extends "base_generic.html" %}
{% block title %}Login{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class='center'>
  {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
</div>


<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div class="center">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div class="center">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div class="center">
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<div class="center">
<p><a href="password_reset">Lost password?</a></p>
</div>
{% endblock %}
