{% extends "base_generic.html" %}
{% block title %}Reset Confirm{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
  {% if validlink %}
  <div class='confirmcontainter'>
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-info btn-lg" type="submit">Change password</button>
    </form>
  </div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}