{% extends "base_generic.html" %}
{% block title %}
{% if tutor.offer %}
Tutor Offer Details
{%else%}
Tutor Request Details
{%endif%}
{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="jumbotron">
        <div class="container">
          {% if tutor.offer %}
          <h1 class="text-left">Tutor Offered:</h1>
          {%else%}
          <h1 class="text-left">Tutor Requested:</h1>
          {%endif%}
          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{tutor.title}}</dd>
          <dt>Creator:</dt>
          <dd>{{tutor.creator}}</dd>
          <dt>Description:</dt>
          <dd>{{tutor.description}}</dd>
          <dt>Date:</dt>
          <dd>{{tutor.date}}</dd>
          <dt>Cost:</dt>
          <dd>{{tutor.cost}}</dd>
          <dt>Subject: </dt>
          <dd>{{tutor.subject}}</dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg">Contact</button>
        </div>


        <p></p>
        {% if tutor.offer %}
        <div class="text-center">
        <button type="button" class="btn btn-lg">Review</button>
      </div>
        {%endif%}
      </div>
    </div>
    <div class="jumbotron">
      <input id="input" type="text">
      <div class="text-right">
      <button type="submit" class="btn btn-lg">Submit Comment</button>
    </div>
  </div>
  </div>
</div>

{% endblock %}
