{% extends "base_generic.html" %}
{% block title %}
{% if activity.offer %}
Activity Offer Details
{%else%}
Activity Request Details
{%endif%}
{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="jumbotron">
        <div class="container">

          {% if activity.offer %}
          <h1 class="text-left">Activity Offered:</h1>
          {%else%}
          <h1 class="text-left">Activity Requested:</h1>
          {%endif%}

          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{activity.title}}</dd>
          <dt>Creator:</dt>
          <dd>{{activity.creator}}</dd>
          <dt>Description:</dt>
          <dd>{{activity.description}}</dd>
          <dt>Date:</dt>
          <dd>{{activity.date}}</dd>
          <dt>Activity:</dt>
          <dd>{{activity.activity}}</dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg"><a href='{%url 'profile' pk=activity.creator.pk%}'>Contact</a></button>
        </div>

        {%ifequal user activity.creator%}
        <p></p>
        <div class="text-center">
        <h1><a class="btn btn-lg"  href="{{ activity.edit_url }}">Edit</a></td></h1>
          </div>
          <p></p>
        {%endifequal%}

        <p></p>
        <hr>
    {% for comment in activity.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
      <div class="text-center">
        <button type="button" class="btn btn-lg"><a href="{%url 'add_comment_to_activity' pk=activity.pk%}">Add Comments</button>
    </div>
  </div>
  </div>
</div>

{% endblock %}
