{% extends "base_generic.html" %}
{% block title %}
{% if carpool.offer %}
Carpool Offer Details
{%else%}
Carpool Request Details
{%endif%}
{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="jumbotron">
        <div class="container">
          {% if carpool.offer %}
          <h1 class="text-left">Carpool Offered:</h1>
          {%else%}
          <h1 class="text-left">Carpool Requested:</h1>
          {%endif%}
          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{carpool.title}}</dd>
          <dt>Creator:</dt>
          <dd>{{carpool.creator}}</dd>
          <dt>Description:</dt>
          <dd>{{carpool.description}}</dd>
          <dt>Date:</dt>
          <dd>{{carpool.date}}</dd>
          <dt>Cost:</dt>
          <dd>{{carpool.cost}}</dd>
          <dt>Destination:</dt>
          <dd>{{carpool.destination}}</dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg">Contact</button>
        </div>
        {%ifequal user carpool.creator%}
        <p></p>
        <div class="text-center">
        <h1><a class="badge badge-danger  "  href="{{ carpool.edit_url }}">edit</a></td></h1>
          </div>
          <p></p>
        {%endifequal%}


        <p></p>
        <hr>
    {% for comment in carpool.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
      <div class="text-center">
        <button type="button" class="btn btn-lg"><a href="{%url 'add_comment_to_carpool' pk=carpool.pk%}">Add Comments</button>
    </div>
  </div>
  </div>
</div>

{% endblock %}
