{% extends "base_generic.html" %}
{% block title %}
{% if tutor.offer %}
Tutor Offer Details
{%else%}
Tutor Request Details
{%endif%}
{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="jumbotron">
        <div class="container">
          {% if tutor.offer %}
          <h1 class="text-left">Tutor Offered:</h1>
          {%else%}
          <h1 class="text-left">Tutor Requested:</h1>
          {%endif%}
          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{tutor.title}}</dd>
          <dt>Creator:</dt>
          <dd>{{tutor.creator}}</dd>
          <dt>Description:</dt>
          <dd>{{tutor.description}}</dd>
          <dt>Date:</dt>
          <dd>{{tutor.date}}</dd>
          <dt>Cost:</dt>
          <dd>{{tutor.cost}}</dd>
          <dt>Subject: </dt>
          <dd>{{tutor.subject}}</dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg">Contact</button>
        </div>
        {%ifequal user tutor.creator%}
        <p></p>
        <div class="text-center">
        <h1><a class="btn btn-lg "  href="{{ tutor.edit_url }}">Edit</a></td></h1>
          </div>
          <p></p>
        {%endifequal%}


        <p></p>
        <hr>
    {% for comment in tutor.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
      <div class="text-center">
        <button type="button" class="btn btn-lg"><a href="{%url 'add_comment_to_tutor' pk=tutor.pk%}">Add Comments</button>
  </div>
  </div>
</div>

{% endblock %}
