{% extends "base_generic.html" %}
{% block title %}
{% if activity.offer %}
<title>Offer Details</title>
{%else%}
<title>Request Details</title>
{%endif%}
{% endblock %}
{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}

    <div class="row">
      <div class="jumbotron">
        <div class="container">
          {% if activity.offer %}
          <h1 class="text-left">Activity Offered:</h1>
          {%else%}
          <h1 class="text-left">Activity Requested:</h1>
          {%endif%}

          <p></p>
          <p></p>
        <dl class="dl-horizontal">
          <dt>Title</dt>
          <dd>{{activity.title}}</dd>
          <dt>Name:</dt>
          <dd>{{activity.creato}}</dd>
          <dt>Description:</dt>
          <dd>{{activity.description}}</dd>
          <dt>Date:</dt>
          <dd>{{activity.date}}</dd>
          <dt>Activity:</dt>
          <dd>{{activity.activity}}</dd>
        </dl>
        </div>

        <div class="text-center">
        <button type="button" class="btn btn-lg">Contact</button>
        </div>


        <p></p>
        {% if activity.offer %}
        <div class="text-center">
        <button type="button" class="btn btn-lg">Review</button>
      </div>
        {%endif%}

      </div>
    </div>
    <div class="jumbotron">
      <input id="input" type="text">
      <div class="text-right">
      <button type="submit" class="btn btn-lg">Submit Comment</button>
    </div>
  </div>
  </div>
</div>

{% endblock %}
